---
name: main

on: [push, workflow_dispatch]

jobs:
  lint:
    uses: ./.github/workflows/shared.lint.yml

  build:
    uses: ./.github/workflows/shared.build.yml

  # This job fails if any of the required jobs have failed or been cancelled.
  # This job skips if all the required jobs have succeeded.
  # A skipped mergeable job is treated as successful by github action and the Etage1 mergeable github ruleset.
  # A failed mergeable job prevents merging.
  # A successful (read skipped) mergeable job allows merging.
  # Also, see https://github.com/actions/runner/issues/2566#issuecomment-3053484216
  mergeable:
    name: "Failure check"
    runs-on: "ubuntu-latest"
    needs:
      - "lint"
      - "build"
    if: "${{ cancelled() || contains(needs.*.result, 'failure') || contains(needs.*.result, 'cancelled') }}"
    steps:
      - name: "I'm officially a failure"
        shell: "bash"
        run: |
          echo "::error Some required job has failed!"
          exit 1